<%- include('./partials/header', {title: 'Home'}) %> 
<%- include('./partials/navbar') %>
<div>
    <center>
        <div>
            <br>
            <h1>911 Report</h1>
        </div><br>
        <div>
            <p>This is a platform where you can post any event in your surrounding.</p>
            <p>with this platform, JPD is trying to make your reporting experience more enjoyable</p>
        </div>
        <div>
            <a href="/reports/add">
                <button type="button" class="btn btn-dark">Post Report Now</button>
            </a>
            <a href="/reports">
                <button type="button" class="btn btn-dark">List Report</button>
            </a>
        </div>
    </center>
</div>
<%- include('./partials/footer') %> 